.index_footer {
    margin-top: 40px;
    width: 100%;
    /* height: 200px;*/
    background: #3e3f43
}
.clear:after{
    display: block;
    content: "";
    clear: both;
}
.index_footer .index_footer_text {
    width: 1200px;
    /*height: 200px;*/
    margin: 0 auto
}

.index_footer .index_footer_left {
    height: 200px;
    margin: 0 auto;
    float: left
}

.index_footer .index_footer_left li {
    font-size: 22px;
    color: #fff !important
}

.index_footer .index_footer_left li:nth-child(2) {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;

}

.index_footer .index_footer_left li:nth-child(1) {
    margin-top: 68px;
    width: 153px;
    height: 153px
}

.index_footer .index_footer_left li:nth-child(2) img {
    width: 100%;
    height: 100%
}

.index_footer .index_footer_right {
    text-align: left;
    margin-top: 55px;
    float: right;
    font-size: 12px;
    line-height: 26px;
    padding-bottom: 38px;
}

.index_footer .index_footer_right li {
    color: #fff !important;
    line-height: 30px;
}

.index_footer .index_footer_right li:first-child {
    font-size: 18px;
    margin-bottom: 26px;
}

.ICP {
    width: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 72px;
    height: 72px;
    color: #a2a6a8;
    background: #353535;
}
.ICP a{
    outline: none !important;
}

.index_telfooter, .tel_ICP {
    display: none
}

@media screen and (max-device-width: 800px) {
    .index_footer_right li, .index_footer_text, .index_telfooter {
        color: #fff !important
    }

    .index_footer_right, .tel_ICP {
        font-size: 12px;
        line-height: 28px
    }

    .ICP, .index_footer {
        display: none
    }

    .index_telfooter {
        display: block;
        width: 100%;
        margin: 20px auto 0;
        background: #3c3f42
    }

    .index_telfooter img {
        width: 30%;
        margin: 10px 0
    }

    .index_footer_text {
        width: 95%;
        margin: 0 auto
    }

    .tel_ICP {
        display: block;
        width: 100%;
        text-align: center;
        color: #000;
        background: #dcdcdc
    }
}
[id^="checkbox-7-"] + label {
    width: 162px!important;
    height: 27px!important;
    line-height: normal!important;
}
.favors{
    bottom: 20px!important;
}
.wechat img{
    margin-bottom: 10px!important;
}
.regpanel{
    width: 590px!important;
    padding: 50px 70px!important;
}