.clear:after{
    display: block;
    content: "";
    clear: both;
}
.news_main li .news_main_right .news_main_rightTop a:hover, .news_title {
    color: #1a598c
}

.new_nav {
    width: 100%
}

.new_nav img {
    width: 100%;
    height: 100%
}

.news_title {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px
}

.news_main {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;

}
.news_main>.left{
    float:left;
    width: 200px;
    border: 1px solid #dfe0e1;
    line-height: 60px;
    text-align: center;
    font-size: 16px
}
.news_main #preface{
    display: none;
}
.news_main .page{
    text-align: right;
}
.news_main .page span{
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #ccc;
}
.news_main .page span.on{
    color: #fff;
    background: #1a598c;
    border: 1px solid #1a598c;
}
.news_main>.news_right{
    margin-left: 250px;
}
.news_main>.left>p{
    cursor: pointer;
    border-bottom: 1px solid #dfe0e1;
}
.news_main>.left>p.on{
    background: rgb(26, 89, 140);color: #fff
}

.news_main li {
    border-bottom: 1px solid #E6E4E6;
    margin-bottom: 20px;
    display: flex
}

.news_main li .news_main_left {
    width: 200px;
    height: 120px;
    margin-right: 40px
}

.news_main li .news_main_left img {
    width: 100%;
   /* height: 100%*/
}

.news_main li .news_main_right {
    text-align: left;
    width: 960px
}

.news_main li .news_main_right .news_main_rightTop {
    font-size: 18px;
    margin-bottom: 20px
}

.news_main li .news_main_right .news_main_rightBottom {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news_main li .news_main_right .more_main {
    float: right
}

.news_main li .news_main_right .more_main a {
    font-size: 16px;
    color: #1a598c
}

.news_telmain {
    display: none
}

@media screen and (max-device-width: 1080px) {
    .news_telmain .top{
        width: 95%;
        margin: 10px auto;
    }
    .news_telmain .top p{
        box-sizing: border-box;
        border: 1px solid #dfe0e1;
        float: left;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        width: 50%;
    }
    .news_telmain .top p.on{
        background: #1a598c;
        color: #fff;
    }
    .news_main {
        display: none
    }

    .new_nav {
        width: 100%
    }

    .new_nav img {
        width: 100%;
        height: 100%
    }

    .news_title {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #1a598c;
        font-size: 18px
    }

    .news_telmain {
        display: block
    }

    .news_telmain ul {
        width: 95%;
        margin: 0 auto
    }

    .news_telmain ul li {
        display: flex;
        margin-bottom: 20px
    }

    .news_telmain ul li img {
        width: 35%;
        height: 20%;
        margin-right: 15px
    }

    .news_telmain ul li .news_main_rightTop {
        width: 100%;
        font-size: 12px
    }

    .news_telmain ul li .news_main_rightBottom {
        width: 90%;
        font-size: 12px;
        color: #666;
        overflow: hidden;
        margin-top: 3px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
}